body {
    background-image: radial-gradient(circle, #ffffff,#ebf0ec) ;
    display: flex;
}

#StarLogo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SLogo {
    width: 57.7px;
    height: 57.7px;
}

.headT {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'sodoSans', sans-serif;
    font-size: 22px;
}

.itemB {
    width: 70px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: background-color 0.43s;
}

.itemB:hover {
    background-color: rgba(0, 98, 65, 0.205);
}

.itemB:last-child {
    margin-right: 0;            
}

.itemT {
    margin-top: 1px;
}

.IslandMore {
    width: 108px;
    height: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    display: none; 
}

.IsMore {
    height: 175px;
    margin-top: 50px;
    margin-left: -59px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'sodoSans', sans-serif;
    font-size: 18px;
    background-color: rgb(142, 151, 142);
    box-shadow: 0.4px 0px 11px rgb(142, 151, 142);
}

.IsMore h4 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 20px; 
}

.Islands {
    box-shadow: 24px 20px 17px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    inline-size: 25%;
    min-inline-size: 460px;
    height: 365.52px;
    padding: 25px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: rgb(0, 98, 65);
}

.islButton {
    --animateProps: opacity, color, background, border-color;
    --originalWidth: 640px;
    inline-size: 100%;
    block-size: 60px;
    white-space: nowrap;
    border-radius: 100px;
    border: 1px solid white;
    color: black;
    background-color: white;
    transition: background-color 0.43s;
    transition-timing-function: ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    font-family: 'sodoSans', sans-serif;
    box-shadow: 0.4px 0px 8px rgb(255, 255, 255);
}

.islButton:hover {
    background-color: rgb(142, 151, 142);
}

#IslHead, #IslHead2, #IslHead3, #IslHead4, #IslHead5 {
    width: 412px;
    height: 190px;
    color: white;
    font-size: 36px;
    font-family: 'sodoSans', sans-serif;
    margin-bottom: 20px; 
}

.island-image {
   
    max-width: 100%;
    height: auto; 
    margin-bottom: 15px; 
    border-radius: 10px;
}


