
body {
    background-image: radial-gradient(circle, #ffffff,#ebf0ec) ;
    display: flex;
}


/*Starbucks Logo*/
#StarLogo {

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SLogo {
    width: 57.7px;
    height: 57.7px;
}

.headT {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'sodoSans', sans-serif;
    font-size: 22px;
}

.SearchBar
{
    margin-left:16px;
    margin-top:1px;
}

#SearchId
{
    margin-top: 1px;
    margin-bottom:0px;
    margin-left: 10px;
    font-family: 'sodoSans', sans-serif;
}

#SubmitId
{
    margin-inline: 58px;
    background-color: rgba(0, 98, 65, 0.205);
    border-radius: 8px;
    border-color:rgba(255, 255, 255, 0);
    transition: background-color 0.43s, transform 0.2s ease;
    font-family: 'sodoSans', sans-serif;
    font-size:15px;
}

#SubmitId:hover
{
    background-color:rgba(39, 203, 148, 0.175);
    transform: scale(1.1);
}

#InputId
{
    margin-bottom:2px;
    border-radius:8px;
    border-color:rgba(255, 255, 255, 0);
    transition: transform 0.2s ease;
    font-family: 'sodoSans', sans-serif;
    font-size:15px;  
}

#InputId:hover
{
    transform: scale(1.1);
}

.itemB {
    width: 70px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: background-color 0.43s, transform 0.2s;
}

.itemB:hover {
    background-color: rgba(0, 98, 65, 0.205);
    transform: scale(1.08);
}

.itemB:last-child {
    margin-right: 0;            
}

.itemT {
    margin-top: 1px;
}

.IslandMore {
    width: 108px;
    height: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    display: none; 
}



.itemB:hover {
    background-color: rgba(0, 98, 65, 0.205);
}

.itemB:last-child {
    margin-right: 0;            
}

.itemT {
    margin-top: 1px;
}

.IslandMore {
    width: 108px;
    height: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    display: none; 
}

/*Islands more specific*/

.IsMore {
    height: 175px;
    margin-top: 50px;
    margin-left: -59px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'sodoSans', sans-serif;
    font-size: 18px;
    background-color: rgb(142, 151, 142);
    box-shadow: 0.4px 0px 11px rgb(142, 151, 142);
}

.IsMore h4 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 20px; 
}

.Islands {
    box-shadow: 24px 20px 17px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    inline-size: 25%;
    min-inline-size: 460px;
    height: 365.52px;
    padding: 25px;
    margin-top: 170px;
    border-radius: 10px;
    background-color: rgb(0, 98, 65);
    transition: transform 0.5s;
}

.Islands:hover{
    transform: scale(1.034);
}

/*class for Islands Buttons*/
.islButton {
    --animateProps: opacity, color, background, border-color;
    --originalWidth: 640px;
    inline-size: 100%;
    block-size: 60px;
    white-space: nowrap;
    border-radius: 100px;
    border: 1px solid white;
    color: black;
    background-color: white;
    transition: background-color 0.43s;
    transition-timing-function: ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    font-family: 'sodoSans', sans-serif;
    box-shadow: 0.4px 0px 8px rgb(255, 255, 255);
}

.islButton:hover {
    background-color: rgb(142, 151, 142);
}

/*class for Islands Buttons*/
.islButton {
    --animateProps: opacity, color, background, border-color;
    --originalWidth: 640px;
    inline-size: 100%;
    block-size: 60px;
    white-space: nowrap;
    border-radius: 100px;
    border: 1px solid white;
    color: black;
    background-color: white;
    transition: background-color 0.43s, transform 0.5s;
    transition-timing-function: ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    font-family: 'sodoSans', sans-serif;
    box-shadow: 0.4px 0px 8px rgb(255, 255, 255);
}

.islButton:hover {
    background-color: rgb(142, 151, 142);
    transform: scaleX(1.096);
}

.islButton1
{
    --animateProps: opacity, color, background, border-color;
    --originalWidth: 640px;
    inline-size: 100%;
    block-size: 60px;
    white-space: nowrap;
    border-radius: 100px;
    border: 1px solid white;
    color: black;
    background-color: white;
    transition: background-color 0.43s, transform 0.5s;
    transition-timing-function: ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    font-family: 'sodoSans', sans-serif;
    box-shadow: 0.4px 0px 8px rgb(255, 255, 255);
    animation: pulsate 2s infinite;
}

.islButton1:hover {
    background-color: rgb(238, 189, 84);
    transform: scale(1.08);
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.066); }
    100% { transform: scale(1); }
}


#IslHead, #IslHead2, #IslHead3, #IslHead4, #IslHead5 {
    width: 412px;
    height: 190px;
    color: white;
    font-size: 36px;
    font-family: 'sodoSans', sans-serif;
    margin-bottom: 20px;
}

/*class for Images on islands*/

.island-image {
   
    max-width: 100%;
    height: auto; 
    margin-bottom: 15px; 
    border-radius: 10px;
}

#SettingsB
{
    margin-right: 10px;
    width: 36px;
    height: 31px;
    margin-top: 10px;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.43s;
}

#Settings:hover
{
    background-color:rgb(153, 153, 153);
}

.SettingsIcon
{
    width:30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


